@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background:#11071F;
  --foreground: #FFFFFF;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Preahvihear,Poppins;
}
@font-face {
  font-family: Poppins;
  src: url("/public/fonts/Poppins/Poppins-Regular.ttf");
}
@font-face {
  font-family: Preahvihear;
  src: url("/public/fonts/Preahvihear-Regular.ttf");
}
/* .small-radial-gradient {  
  background: radial-gradient(circle, rgba(256,256,256,1) 18%, rgba(26,26,26,0) 60%);  
}  */
.small-radial-gradient {  
  background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(26, 26, 26, 0) 80%);  
} 
.medium-radial-gradient {  
  background: radial-gradient( rgba(46.3, 23.5, 67.5,1) 0%, rgba(19.6,5.9,52.2,0) 100%);  
} 