@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #11071f;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Preahvihear, Poppins;
}
@font-face {
  font-family: Poppins;
  src: url("/public/fonts/Poppins/Poppins-Regular.ttf");
}
@font-face {
  font-family: Preahvihear;
  src: url("/public/fonts/Preahvihear-Regular.ttf");
}
/* .small-radial-gradient {  
  background: radial-gradient(circle, rgba(256,256,256,1) 18%, rgba(26,26,26,0) 60%);  
}  */
.small-radial-gradient {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(26, 26, 26, 0) 80%
  );
}
.medium-radial-gradient {
  background: radial-gradient(
    circle at 50% 50%,
    #763cac 0%,
    #320F85 100%
    );
  border-radius: 50%; 
  /* filter: blur(1px);   */

  box-shadow: inset 10px 10px 30px rgba(7, 0.4, 23,.8);  
}

