@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #11071f;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Preahvihear, Poppins;
}
@font-face {
  font-family: Poppins;
  src: url("/public/fonts/Poppins/Poppins-Regular.ttf");
}
@font-face {
  font-family: Preahvihear;
  src: url("/public/fonts/Preahvihear-Regular.ttf");
}

.medium-radial-gradient {
  background: radial-gradient(circle at 50% 50%, #763cac 0%, #320f85 100%);
  border-radius: 50%;

  box-shadow: inset 10px 10px 30px rgba(7, 0.4, 23, 0.8);
}
.linear-gradient-bg{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 100%; عرض بیضی */
  /* height: 100%; ارتفاع بیضی */
  background: linear-gradient(45deg, #763CAC, #320F85); /* گرادیانت */
  border-radius: 50%; /* ایجاد شکل بیضی */
  filter: blur(80px); /* افکت محو کردن */
  z-index: -1; 
}
.floating-xy-odd {
  animation: floating_xy_odd 4s ease-in-out infinite
}

@keyframes floating_xy_odd {
  0% {
      transform: translate(0)
  }

  25% {
      transform: translate(1px,-1px)
  }

  50% {
      transform: translate(-1px,1px)
  }

  75% {
      transform: translate(1px,1px)
  }

  to {
      transform: translate(0)
  }
}

.floating-xy-even {
  animation: floating_xy_even 4s ease-in-out infinite
}

@keyframes floating_xy_even {
  0% {
      transform: translate(0)
  }

  25% {
      transform: translate(-2.7px,2.7px)
  }

  50% {
      transform: translate(2.7px,-2.7px)
  }

  75% {
      transform: translate(2.7px,2.7px)
  }

  to {
      transform: translate(0)
  }
}
